#SQL Basics with my first Notebook

In [0]:
%sql
USE CATALOG workspace;
USE SCHEMA training;

create or replace table workspace.training.first_table 
( id integer,
 name string,
 age integer,
 salary double);

 INSERT OVERWRITE workspace.training.first_table VALUES 
 (1, 'John', 30, 50000),
 (2, 'Jane', 25, 60000),
 (3, 'Bob',  29, 48000),
 (4, 'Ali',  35, 55000),
 (5, 'Maria', 32, 52000),
 (6, 'Jose', 28, 49000),
 (7, 'Sara', 31, 51000),
 (8, 'Pedro', 27, 47000),
 (9, 'Fatima', 33, 53000),
 (10, 'Ahmed', 26, 46000);
--select * from workspace.training.first_table;

In [0]:
df = spark.table("workspace.training.first_table")
df.count()

In [0]:
%sql
DECLARE mytab STRING = 'workspace.training.first_table';
select count(*) from identifier(mytab);

In [0]:

%python
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *
df = spark.sql("SELECT * FROM IDENTIFIER(mytab)")
update_df = df.withColumn("dept", when((col("age")>20) & (col("age")<=25), "Gig Work" ) \
                        .when((col("age")>25) & (col("age")<=30), "IT Professional") \
                        .when((col("age")>30), "Senior working people")  )
update_df.createOrReplaceTempView("mytab")

updating_create_sql_query = """
create or replace table workspace.training.emp_table 
( id integer,
 name string,
 age integer,
 salary double,
dept string)   """
spark.sql(updating_create_sql_query)

display(df)
spark.sql("insert overwrite table workspace.training.emp_table select * from mytab")

In [0]:
%sql
SELECT id,name,age,salary,dept,
         dense_rank() OVER(PARTITION BY dept ORDER BY salary DESC) as dense_rnk,
         rank() OVER(PARTITION BY dept ORDER BY salary DESC) rnk,
         row_number() OVER(PARTITION BY dept ORDER BY salary DESC) row_numb  
    FROM workspace.training.emp_table order by dept,salary desc;

In [0]:
%sql
INSERT INTO workspace.training.first_table VALUES 
 (11, 'John_2', 31, 51000),
 (12, 'Jane_2', 26, 60000),
 (13, 'Bob_2',  28, 48000),
 (14, 'Ali_2',  36, 55000),
 (15, 'Maria_2', 33, 52000);

In [0]:
%sql
SELECT to_json(named_struct('time', to_timestamp('2015-08-26', 'yyyy-MM-dd')), map('timestampFormat', 'dd/MM/yyyy'));

In [0]:
%sql
SELECT from_csv('26/08/2015', 'time Timestamp', map('timestampFormat', 'dd/MM/yyyy'));